html {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

hr {
    border: 1px solid #E8E8E8;
}

table {
    border-collapse: collapse;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#team {
    background-color: #303E4D;
    color: #ACB2B8;
    font-weight: 400;
    height: 50px;
    padding-left: 15px;
    width: 15%;
}

#top_bar {
    border-bottom: 1px solid #E8E8E8;
    color: #717274;
}

#top_search {
    border-bottom: 1px solid #E8E8E8;
    color: #717274;
    width: 10%;
}

#channels {
    background-color: #303E4D;
    color: #ACB2B8;
    overflow: hidden;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    vertical-align: top;
}

#chat {
    height: 80%;
    width: 60%;
}

#channel_info {
    height: 100%;
    width: 25%;
}

#bottom_search_icon {
    background-color: #303E4D;
    color: #ACB2B8;
    font-weight: bold;
    font-size: 18px;
    height: 10%;
    text-align: center;
}

#message {
    color: #BBBDBF;
    height: 10%;
    width: 60%;
}

/* Top bar */

#top_channel_name {
    height: 50%;
    width: 60%;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 20px;
}

#top_icons1 {
    width: 20%;
    text-align: right;
}

#top_icons1 span {
    padding: 0 8px 0 8px;
}

#top_channel_info {
    font-size: 13px;
    padding-left: 20px;
}

/* Channels bar */

.team_name {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.active_channel {
    color: #FFFFFF;
    font-weight: bold;
}

.connected {
    color: #3d978d;
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    top: -2px;   
}

.disconnected {
    color: #9E9BA1;
    font-size: 22px;
    vertical-align: middle;
}

.bell {
    clear: right;
    float: right;
    margin-top: -12px;
    margin-right: 15px;
}

#channels_list {
    margin-top: 6px;
    overflow: auto;
    position:absolute;
    width:100%;
}

#channels_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#channels_list ul li {
    padding: 2px 2px 4px 2px;
}

.channel_info_section {
    padding: 4px 12px 4px 12px;
}

.channel_info_small {
    height: 50px;
    vertical-align: middle;
    box-shadow: 0px 12px 1px -12px #D8D8D8;
}

/* chat */

#chat_container {
    height: 100%;
    max-height: 100% !important;
    overflow: hidden;
    position: relative;
}

#chat_window {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    max-height: 100% !important;
    position: absolute;
    font-size: 13px;
    line-height: 1.5em;
    top:0;
    left:0;
    overflow-y: scroll;
    white-space: nowrap;
}

#chat_bar {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 8px;
    height: 100%
}

#chat_window::-webkit-scrollbar {
    width: 8px;
}

#chat_window::-webkit-scrollbar-track {
    background-color: #F3F3F3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#chat_window::-webkit-scrollbar-thumb {
    background-color: #D9D9DE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* Members */

.member {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px 0px 0px;
}

.disconnected_img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
}

.member span {
    clear: right;
    float: right;
    font-size: 30px;
}

.member img {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin-right: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#channel_members {
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

/* Chat message */

.message {
    margin-top: 4px;
    margin-bottom: -12px;
    padding-left: 15px;
}

.message img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.message table tr td {
    vertical-align: top;
}

.chat_pic {
    width: 40px;
}

.chat_pic img {
    height: 32px;
    width: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chat_user {
    font-weight: bold;
}

.chat_time {
    color: #999999;
}

.chat_text {
    padding-top: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.chat_reactions {
}

.chat_reactions:after {
    clear: right;
}

.reaction_emoji {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    color: #999;
    font-size: 10px;
    height: 18px;
    width: 30px;
    padding: 1px;
    float: left;
    margin-right: 6px;
    margin-top: -12px;
    margin-bottom: 16px;
}

.reaction_emoji img {
    object-fit: cover;
    max-width: 18px;
    max-height: 18px;
    position: relative;
    top: 3px;
}

.variable {
    background-color: #F7F7F9;
    color: #CE3187;
    box-shadow: inset 0px 0px 0px 1px #E1E1E1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
    height: 1em;
    padding: 1px 3px 1px 3px;
}

.snippet {
    background-color: #FBFAF8;
    color: #36394C;
    border: 1px solid #D6D5D3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 40px;
}

.link {
    font-weight: bold;
    color: #3081b7;
}

/* Titulo */

.title {
	font-family:'Cookie',cursive;
	font-size:110pt;
	color: #b85b3f;
    line-height: 1em;
	display: block;
	text-align: center;
}

.title_shadow {
    display: none;
    color: rgba(0,0,0,.35);
    text-shadow: none;
    line-height: 1em;
    position: relative;
    top: -200%;
	margin-top: 40pt;
	margin-left: 10pt;
    z-index: -1;
    -webkit-mask-image: url(../fonts/mask.png);
	font-family:'Cookie',cursive;
	font-size:110pt;
	color: #b85b3f;
	display: block;
	text-align: center;
}
