@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?jg8nib');
  src:  url('icomoon.eot?jg8nib#iefix') format('embedded-opentype'),
    url('icomoon.ttf?jg8nib') format('truetype'),
    url('icomoon.woff?jg8nib') format('woff'),
    url('icomoon.svg?jg8nib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-bell:before {
  content: "\e951";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-insert-template:before {
  content: "\ea72";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}

